@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;900&display=swap");

/*================================== General Styling ==================================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    /* background-color: #000; */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.4rem;
    padding: 1rem;
}

.navbar-brand,
legend {
    font-size: 2.1rem;
}

.contact-text p {
    font-size: 1.8rem;
}
/*================================== Colours ==================================*/
.card-back p,
#card-title,
.contact-text,
legend,
footer {
    color: #fffbfe;
}

.navbar,
footer {
    background-color: #7aac2b;
}
/*================================== Navbar ==================================*/
/*--- navbar logo ---*/
.navbar-brand img {
    height: 75px;
    width: 75px;
    border-style: solid;
    border-color: #f5f5f5;
    border-width: 1px;
    border-radius: 50%;
}
/*--- navbar links ---*/
.navbar-nav {
    margin-right: 1rem;
    font-size: 2rem;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    padding: 25px;
}
/*--- remove 'hamburger menu' border ---*/
.navbar .navbar-toggler {
    border: 0;
}
/*================================== Home section ==================================*/
.hero-container {
    background: url(../images/hero-image-home.jpg) center/cover no-repeat fixed;
    height: 90vh;
    background-color: #000;
    position: relative;
}
/*================================== Stadiums section ==================================*/
.stadiums-container {
    background: url(../images/football-pitch-vert.jpg) center/cover no-repeat fixed;
    height: 1400px;
    background-color: #000;
    position: relative;
    border-radius: 0.75rem;
}
/*================================== Map ==================================*/
#map {
    height: 475px;
    width: 100%;
}
/*================================== Cards ==================================*/
.card-wrapper {
    height: 500px;
}

.card-container {
    width: 80%;
    height: 400px;
    background: none;
    margin-top: 2rem;
}

.crest-card {
    width: 100%;
    height: 400px;
    border-radius: 0.5rem;
    -webkit-box-shadow: 10px 14px 38px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 14px 38px 1px rgba(0, 0, 0, 0.75);
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 0.5rem;
    -webkit-box-shadow: 10px 14px 38px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 14px 38px 1px rgba(0, 0, 0, 0.75);
}

.card-back ul {
    text-align: left;
}
#card-title {
    background-color: #000;
    width: 80%;
    margin: 0 auto;
}
/* Background colours for front flip card; change when marker is clicked */
.card-front-red {
    background: #ff6161;
    color: #000;
}

.card-front-stripe {
    background: -o-repeating-linear-gradient(45deg, #104e75, #7f1734 50px, #104e75 30px);
    background: repeating-linear-gradient(45deg, #104e75, #7f1734 50px, #104e75 30px);
    color: #fffbfe;
}

.card-front-blue {
    background: #104e75;
    color: #fff;
}

.card-front-yellow {
    background: #ffca3a;
    color: #000;
}

.card-back {
    background: #6a4c93;
    color: #000;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipCard {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#flip-icon {
    position: absolute;
    left: 1px;
    bottom: -2.5px;
    width: 25%;
}

.list-group-item {
    border: none;
    font-size: 1.4rem;
}
/*================================== Contact section ==================================*/
.contact-container {
    background: url(../images/hero-image-contact.jpg) bottom/cover no-repeat;
    height: 100%;
    background-color: #000;
    position: relative;
}

.contact-form {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

.btn-cta {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    font-weight: 600;
    font-size: 2rem;
    margin: 0.5rem;
}

.btn-cta:hover {
    color: #fff;
    background-color: #000;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
.custom-select:focus,
.form-group textarea:focus {
    border: 5px solid #7aac2b;
}

.modal-title,
.modal-footer button {
    margin: 0 auto;
}

.btn-secondary {
    height: 40px;
    width: 60px;
    font-size: 1.5rem;
}
/*================================== Footer ==================================*/
footer {
    height: 5rem;
}

.text-icon-links {
    display: flex;    
    justify-content: space-around;
}

.text-icon-links a {
    font-size: 1.5rem;          
}
/*================================== Media Queries ==================================*/
/* Navbar - hover and active stylings for nav links for larger screens but not on hamburger menu */
@media only screen and (min-width: 767px) {
    .navbar-dark .navbar-nav .active {
        font-weight: 700;
        border-style: solid;
        border-width: 0 0 5px 0;
        border-color: #fff;
    }

    .navbar-nav .nav-item:hover {
        border: 1px solid #000;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: #000;
    }
    /* Stadiums section - reduce black background on <h2> title for tablet size and above */
    #card-title {
        width: 50%;
    }
    /* Contact section - increase input box sizes/reduce form width on tablet size and above */
    form input[type="text"],
    form input[type="email"],
    .custom-select {
        height: 4rem;
        font-size: 1.5rem;
    }

    .form-group textarea {
        font-size: 1.5rem;
    }

    .contact-form {
        max-width: 60%;
    }
}

/* Stadiums section - make more responsive on larger screen sizes */
@media only screen and (min-width: 767px) and (max-width: 991px) {
    .stadiums-container {
        height: 1000px;
    }
}

@media only screen and (min-width: 991.05px) {
    .stadiums-container {
        background: url(../images/football-pitch.jpg) center/cover no-repeat fixed;
        height: 100%;
        width: 90vw;
    }
}

@media only screen and (min-width: 1441px) {
    .stadiums-container {
        height: 55vh;
    }
    #map {
        height: 750px;
    }
    .card-container,
    .crest-card {
        height: 625px;
    }
}
