@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;900&display=swap");

/*================================== General Styling ==================================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.4rem;
    padding: 1rem;
}

.navbar-brand,
legend {
    font-size: 2.1rem;
}

.contact-text p {
    font-size: 1.8rem;
}
/*================================== Colours ==================================*/
.card-back p,
#card-title,
.contact-text,
legend,
footer {
    color: #fffbfe;
}

.navbar,
footer {
    background-color: #7aac2b;
}

.text-icon-links a:hover {
    color: #000;
}
/*================================== Navbar ==================================*/
/*--- navbar logo ---*/
.navbar-brand img {
    height: 75px;
    width: 75px;
    border-style: solid;
    border-color: #f5f5f5;
    border-width: 1px;
    border-radius: 50%;
}
/*--- navbar links ---*/
.navbar-nav {
    margin-right: 1rem;
    font-size: 2rem;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    padding: 25px;
}
/*--- remove 'hamburger menu' border ---*/
.navbar .navbar-toggler {
    border: 0;
}
/*================================== Home section ==================================*/
.hero-container {
    background: url(../images/hero-image-home.jpg) center/cover no-repeat fixed;
    height: 90vh;
    background-color: #000;
    position: relative;
}
/*--- jumbotron ---*/
.jumbotron {
    height: 80vh;
    max-width: 80%;
    border-radius: 1rem;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 2rem;
}

.hero-text-image img {
    width: 6rem;
    height: 6rem;
}
/*================================== Stadiums section ==================================*/
.stadiums-container {
    background: url(../images/football-pitch-vert.jpg) center/cover no-repeat fixed;
    height: 1400px;
    background-color: #000;
    border-radius: 0.75rem;
}
/*================================== Map ==================================*/
#map {
    height: 475px;
    width: 100%;
}
/*================================== Cards ==================================*/
.card-wrapper {
    height: 500px;
}

.card-container {
    width: 80%;
    height: 400px;
    background: none;
    margin-top: 2rem;
}

.crest-card {
    width: 100%;
    height: 400px;
    border-radius: 0.5rem;
    -webkit-box-shadow: 10px 14px 38px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 14px 38px 1px rgba(0, 0, 0, 0.75);
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 0.5rem;
    -webkit-box-shadow: 10px 14px 38px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 14px 38px 1px rgba(0, 0, 0, 0.75);
}

.card-back ul {
    text-align: left;
}
#card-title {
    background-color: #000;
    width: 80%;
    margin: 0 auto;
}
/* Background colours for front flip card; change when marker is clicked */
.card-front-red {
    background: #ff6161;
    color: #000;
}

.card-front-stripe {
    background: -o-repeating-linear-gradient(45deg, #104e75, #7f1734 50px, #104e75 30px);
    background: repeating-linear-gradient(45deg, #104e75, #7f1734 50px, #104e75 30px);
    color: #fffbfe;
}

.card-front-blue {
    background: #104e75;
    color: #fff;
}

.card-front-yellow {
    background: #ffca3a;
    color: #000;
}

.card-back {
    background: #6a4c93;
    color: #000;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipCard {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#flip-icon {
    position: absolute;
    left: 1px;
    bottom: -2.5px;
    width: 25%;
}

.list-group-item {
    border: none;
    font-size: 1.4rem;
}
/*================================== Contact section ==================================*/
.contact-container {
    background: url(../images/hero-image-contact.jpg) bottom/cover no-repeat;
    height: 100%;
    background-color: #000;
    position: relative;
}

.contact-form {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

.btn-cta {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    font-weight: 600;
    font-size: 2rem;
    margin: 0.5rem;
}

.btn-cta:hover {
    color: #fff;
    background-color: #000;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
.custom-select:focus,
.form-group textarea:focus {
    border: 5px solid #7aac2b;
}

.modal-title,
.modal-footer button {
    margin: 0 auto;
}

.btn-secondary {
    height: 40px;
    width: 60px;
    font-size: 1.5rem;
}
/*================================== Footer ==================================*/
footer {
    height: 5rem;
}

.text-icon-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.text-icon-links a {
    font-size: 1.5rem;
    color: #fff;
}
/*================================== Floating scroll to top button ==================================*/
/* Credit: Code provided by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top and slightly modified */
@media only screen and (min-width: 992px) {
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #fff;
        color: #000;
        cursor: pointer;
        border: 2px solid #000;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }

    #myBtn:hover {
        color: #fff;
        background-color: #000;
    }
}
/*================================== 404 Error Page ==================================*/
.error-container {
    background: url(../images/404-error.jpg) center/cover no-repeat;
    height: 100vh;
    background-color: #fff;
}

.error-text {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding-top: 5rem;
}
/*================================== Media Queries ==================================*/
/* Navbar - hover and active stylings for nav links for larger screens but not on hamburger menu */
@media only screen and (min-width: 767px) {
    .navbar-dark .navbar-nav .active {
        font-weight: 700;
        border-style: solid;
        border-width: 0 0 5px 0;
        border-color: #fff;
    }

    .navbar-nav .nav-item:hover {
        border: 1px solid #000;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: #000;
    }
    /* Home page */
    .hero-text-cta p {
        font-size: 1.8rem;
    }
    /* Stadiums section - reduce black background on <h2> title for tablet size and above */
    #card-title {
        width: 50%;
    }
    /* Contact section - increase input box sizes/reduce form width on tablet size and above */
    form input[type="text"],
    form input[type="email"],
    .custom-select {
        height: 4rem;
        font-size: 1.5rem;
    }

    .form-group textarea {
        font-size: 1.5rem;
    }

    .contact-form {
        max-width: 60%;
    }
}

/* Stadiums section - make more responsive on larger screen sizes */
@media only screen and (min-width: 767px) and (max-width: 991px) {
    .stadiums-container {
        height: 1000px;
    }
}

@media only screen and (min-width: 991.05px) {
    .stadiums-container {
        background: url(../images/football-pitch.jpg) center/cover no-repeat fixed;
        height: 100%;
        width: 90vw;
    }
}

@media only screen and (min-width: 1441px) {
    .stadiums-container {
        height: 55vh;
    }
    #map {
        height: 750px;
    }
    .card-container,
    .crest-card {
        height: 625px;
    }
}
/* Stadiums section - resolve overlapping on smaller devices in landscape orientation */
@media screen and (orientation: landscape) and (max-width: 991px) {
    .hero-container {
        height: 125vh;
    }  
    .jumbotron {
        height: 115vh;
    }  
    .flip-card,
    .crest-card {
        height: 550px;
    }
    .flip-card {
        margin-top: 17.5rem;
    }
    .stadiums-container {
        height: 1750px;
    }
}